:root {
  --color-primary: #4734DC;
  --color-primary-hover: #5B53E8;
  --color-accent: #7D2AE2;
  --color-secondary: rgba(106, 90, 224, 0.8);
  --color-soft-lavender: #B5A8FF;
  --color-mist-lavender: #ECEFFE;
  --color-red: #F72111;
  --color-green: #0ADD66;
  --color-white: #FFFFFF;
  --color-black: #0F0F12;  

  --theme-shade-1: #FBFBFF;
  --theme-shade-2: #F8F8FE;
  --theme-shade-3: #EFEFF5;
  --theme-shade-4: #E7E7ED;
  --theme-shade-5: #E0E0E6;
  --theme-shade-6: #D8D8DE;
  --theme-shade-7: #CDCDD3;
  --theme-shade-8: #BABAC0;
  --theme-text-1: #202023;
  --theme-text-2: #636369;
  --theme-gray-1: #D4DAE1;
  --theme-gray-2: #C7CED8;
  --theme-gray-3: #B2BBC8;
  --theme-gray-4: #808A97;
  --theme-gray-5: #747E8A;

}

[data-theme='dark'] {
  --theme-shade-1: #111115;
  --theme-shade-2: #19191B;
  --theme-shade-3: #222227;
  --theme-shade-4: #292930;
  --theme-shade-5: #303038;
  --theme-shade-6: #393941;
  --theme-shade-7: #474750;
  --theme-shade-8: #5F5F67;
  --theme-text-1: #EDEDF7;
  --theme-text-2: #B3B3BD;
  --theme-gray-1: #393941;
  --theme-gray-2: #474750;
  --theme-gray-3: #5F5F67;
  --theme-gray-4: #6D6D76;
  --theme-gray-5: #606068;
}

