@use '@styles/variables.scss' as *;

.profileCardContainer{
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin-top: 2rem;
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-color: $theme-shade-3;
}
.cardBackGroundBox{
  position: relative;
  width: 100%;
  height: 250px;
}
.profileImg{
  position: relative;
}
.profile{
  position: absolute;
  bottom: -40px;
  left:25px;
  background-color: #FFFFFF;
  border-radius: 99px;
  padding: 4px;
  background-color: $theme-shade-3;
}
.userInfo{
  margin-top: 20px;
  display: flex;
  gap: 10px;
  padding-left: 20px;
  align-items: center;
}
.followContainer{
  display: flex;
  align-items: center;
  gap: 6px;
  padding-right: 20px;
  margin-top: 15px;
}
.followText{
  cursor: pointer;
  @include font-base;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 5px;
  color: $theme-text-2;
}
.followNumberText{
  @include font-lg;
  font-weight: 600;
  flex-direction: row;
  align-items: center;
  gap: 1px;
}
.userFlexBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.infoContent{
  min-height: 150px;
  padding: 20px;
  color: gray;
  font-size: $font-xs-size;
  font-weight: $font-xs-weight;
  line-height:$font-xs-line-height ;
}
.nameText{
  @include font-xl;
  color: $theme-text-2;
}
.mobileProfile{
  border-radius: 100%;
}


@media (max-width: 768px) {

.mobileProfile{
  border-radius: 100%;
  width: 60px;
  height: 60px;
}
}
