@use '@styles/variables.scss' as *;

.tag {
  background: $theme-mist-lavender;
  color: $theme-primary;
  border-radius: 16px;
  font-weight: 400;
  padding: 4px 16px;
  cursor: pointer;
  white-space: nowrap; 

   &:hover {
        background: $theme-soft-lavender; 
        color: $theme-white;
    }


    &__sm {
        font-size: $font-sm-size;
    }

    &__md {
        font-size: $font-base-size;
    }

    &__lg {
        font-size: $font-lg-size;
    }
}